{% macro on_event(event, body) %}
{% if event == "clicked" %}var can_be_clicked = true
{% endif %}func {% if event == "discarded" %}_on_card_discarded{% else %}enact_{{ event }}_effect{% endif %}({% if event not in ["another_card_drawn", "card_instanced", "discarded"] %}cp, op, {% endif %}c):
{% if event == "clicked" %}    can_be_clicked = false
{% endif %}{% if event not in ["another_card_drawn", "card_instanced", "discarded"] %}    current_player = cp
    other_player = op
{% endif %}    card = c
    {{ body }}
{% if event == "clicked" %}    can_be_clicked = true
{% endif %}
{% if event not in  ["card_instanced","discarded"] %}    emit_signal('{{ event }}_effect_completed'{% if event == "stand" %}, card{% endif %})
{% endif %}
{% endmacro %}