    {% for word in room_name.split() %}{{ word.capitalize() }}{% endfor %}Rooms.ENCOUNTER_{{ encounter_name.replace(" ", "_").upper() }}:{
        "name": "{{ encounter_name }}",
        "type": "opponent",
        "sprite": {{ sprite_id }},
        "healthpoints": {{ healthpoints }},
        "deck": [{% for card in deck %}{% if card | int != 0 %}"{{ "%03d" % card }}"{% else %}"{{ "%03d" % card_ids[card] }}"{% endif %}, {% endfor %}],{% if hard_deck %}
        "hard_deck": [{% for card in hard_deck %}{% if card | int != 0 %}"{{ "%03d" % card }}"{% else %}"{{ "%03d" % card_ids[card] }}"{% endif %}, {% endfor %}],{% endif %}{% if foils %}
        "foils": [{% for foil in foils %}{{ foil }}, {% endfor %}],{% endif %}{% if hard_foils %}
        "hard_foils": [{% for foil in hard_foils %}{{ foil }}, {% endfor %}],{% endif %}{% if modified_stand_point %}
        "modified_stand_point": {{ modified_stand_point }},{% endif %}
        "chip_reward": {{ chip_reward }},
        "start_dialogue": "{{ start_dialogue }}",
        "end_dialogue": "{{ end_dialogue }}",
    },